@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fatec Treinamentos</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand " href='@Url.Action("Index","Home")'>
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                    <span class="aoxo"><span class="a">&Delta;</span><span class="o">O</span><span class="x">X</span><span class="q">&#9744</span></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">

                @using (Html.BeginForm("Pesquisar", "Curso", FormMethod.Post, new { @class = "navbar-form navbar-left home-search-form", role = "form" }))
                {
                    <div class="form-group">
                        <div class="input-group">
                            <input id="txtPesquisaCurso" name="txtPesquisaCurso" type="text" class="form-control" placeholder="Procurar Curso...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-search" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                }

                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Populares", "Populares", "Curso")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cursos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                Html.RenderAction("MenuAssuntos", "Home");
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Trilhas", "Index", "Trilha")</li>

                    @if (Request.IsAuthenticated)
                    {
                        //Valida se o usuário é administrador e exibe o menu de administração.

                        if (this.User.IsInRole("Administrador"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Cursos", "Index", "AdminCursos", null, new { style = "text-decoration: line-through" })</li>
                                    <li>@Html.ActionLink("Trilhas", "Index", "AdminTrilhas")</li>
                                    <li>@Html.ActionLink("Assuntos", "Index", "AdminAssuntos")</li>
                                    <li>@Html.ActionLink("Usuários", "Index", "AdminUsuarios", null, new { style = "text-decoration: line-through" })</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>

                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp; @User.Identity.GetUserName() <span class="caret"></span>
                            </a>
                                
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Meus Treinamentos", "Index", "Treinamento", null, new { style = "text-decoration: line-through" })</li>
                                <li>@Html.ActionLink("Meus Pontos", "MeusPontos", "Usuario", null, new { style = "text-decoration: line-through" })</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Sair", "LogOff", "Usuario")</li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Entrar", "Login", "Usuario")</li>
                        <li class="active">@Html.ActionLink("Registrar", "Registrar", "Usuario")</li>
                    </ul>
                }

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Fatec/Viceri</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
