@model Fatec.Treinamento.Web.Models.VincularCursosTrilhaViewModel

@{
    ViewBag.Title = "Vincular Cursos";
}

<h2>Vincular Cursos</h2>

<div>
    <hr />
    <h4>Trilha: <b>@Model.Trilha.Nome</b></h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Trilha.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CursosSelecionados, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.CursosSelecionados, Model.CursosDisponiveis, new {@class="selecionar-curso"} )
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
            @Html.ActionLink("Voltar", "Index")
        </div>

    </div>
}
